* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/marco-grosso-5zHxWVUaFms-unsplash.jpg);
    background-size: cover;
    background-position: center;

}
.container {
    /* background-color: #fff; */
    
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f0e4e4;
}
input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 50%;
    padding: 10px;
    background-color: #2bb4c1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0 auto;
}
button:hover {
    background-color: #90b1b4;
}
.error {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.success {
    color: green;
    margin-top: 10px;
    text-align: center;
}
label {
    color: #f0e4e4;
}
a {
    text-decoration: none;
    color: #2bb4c1;
    
}
a:hover {
    text-decoration: underline;
}
